.parentWrapper {
  .ant-select-item-option-state {
    display: none;
  }
}

.wrapper {
  display: flex;
}

.optionItem {
  display: flex;
  justify-content: space-between;
}

.optionLabelItem {
  padding: 0;
}
