.wrapper {
  display: flex;
}

.inputItem {
  flex: auto;
  height: 30px;
}

.optionItem {
  display: flex;
  justify-content: space-between;
}

.optionLabelItem {
  padding: 0;
}

.colorPaletteButton {
  height: 30px;
  margin-left: 5px;
}

.addItemButton {
  display: block;
  flex: none;
  width: 80px;
  height: 30px;
  margin-left: 15px;
  padding-top: 5px;
  cursor: 'pointer';
}
